{% extends "layout/default.twig" %}
{% block title %}User: {{ user.username|capitalize }}{% endblock %}
{% block content %}
    <p>
        This user hasn't provided any info yet, stay tuned.
    </p>
{% endblock %}

